[submodule "agast-helpers"]
  path = repos/agast-helpers
  url = git@github.com:bablr-lang/agast-helpers.git
  branch = trunk

[submodule "agast-vm"]
  path = repos/agast-vm
  url = git@github.com:bablr-lang/agast-vm.git
  branch = trunk

[submodule "agast-vm-helpers"]
  path = repos/agast-vm-helpers
  url = git@github.com:bablr-lang/agast-vm-helpers.git
  branch = trunk

[submodule "io-vm-node"]
  path = repos/io-vm-node
  url = git@github.com:bablr-lang/io-vm-node.git
  branch = trunk

[submodule "io-vm-web"]
  path = repos/io-vm-web
  url = git@github.com:bablr-lang/io-vm-web.git
  branch = trunk

[submodule "bablr"]
  path = repos/bablr
  url = git@github.com:bablr-lang/bablr.git
  branch = trunk

[submodule "bablr-cli"]
  path = repos/bablr-cli
  url = git@github.com:bablr-lang/bablr-cli.git
  branch = trunk

[submodule "bablr-docs"]
  path = repos/bablr-docs
  url = git@github.com:bablr-lang/bablr-docs.git
  branch = trunk

[submodule "bablr-fs-node"]
  path = repos/bablr-fs-node
  url = git@github.com:bablr-lang/bablr-fs-node.git
  branch = trunk

[submodule "babterm"]
  path = repos/babterm
  url = git@github.com:bablr-lang/babterm.git
  branch = trunk

[submodule "bedazzlr"]
  path = repos/bedazzlr
  url = git@github.com:bablr-lang/bedazzlr.git
  branch = trunk

[submodule "deep-freeze"]
  path = repos/deep-freeze
  url = git@github.com:bablr-lang/deep-freeze.git
  branch = trunk

[submodule "bablr-helpers"]
  path = repos/bablr-helpers
  url = git@github.com:bablr-lang/bablr-helpers.git
  branch = trunk

[submodule "bablr-vm"]
  path = repos/bablr-vm
  url = git@github.com:bablr-lang/bablr-vm.git
  branch = trunk

[submodule "bablr-website"]
  path = repos/bablr-website
  url = git@github.com:bablr-lang/bablr-website.git
  branch = trunk

[submodule "bablr-vm-strategy-parse"]
  path = repos/bablr-vm-strategy-parse
  url = git@github.com:bablr-lang/bablr-vm-strategy-parse.git
  branch = trunk

[submodule "boot"]
  path = repos/boot
  url = git@github.com:bablr-lang/boot.git
  branch = trunk

[submodule "coroutine"]
  path = repos/coroutine
  url = git@github.com:bablr-lang/coroutine.git
  branch = trunk

[submodule "eslint-config-base"]
  path = repos/eslint-config-base
  url = git@github.com:bablr-lang/eslint-config-base.git
  branch = trunk

[submodule "language-en-bablr-cli-verbose-output"]
  path = repos/language-en-bablr-cli-verbose-output
  url = git@github.com:bablr-lang/language-en-bablr-cli-verbose-output.git
  branch = trunk

[submodule "language-en-bablr-vm-instruction"]
  path = repos/language-en-bablr-vm-instruction
  url = git@github.com:bablr-lang/language-en-bablr-vm-instruction.git
  branch = trunk

[submodule "language-en-blank-space"]
  path = repos/language-en-blank-space
  url = git@github.com:bablr-lang/language-en-blank-space.git
  branch = trunk

[submodule "language-en-c-comments"]
  path = repos/language-en-c-comments
  url = git@github.com:bablr-lang/language-en-c-comments.git
  branch = trunk

[submodule "language-en-cstml"]
  path = repos/language-en-cstml
  url = git@github.com:bablr-lang/language-en-cstml.git
  branch = trunk

[submodule "language-en-es3"]
  path = repos/language-en-es3
  url = git@github.com:bablr-lang/language-en-es3.git
  branch = trunk

[submodule "language-en-es5"]
  path = repos/language-en-es5
  url = git@github.com:bablr-lang/language-en-es5.git
  branch = trunk

[submodule "language-en-es6"]
  path = repos/language-en-es6
  url = git@github.com:bablr-lang/language-en-es6.git
  branch = trunk

[submodule "language-en-esnext"]
  path = repos/language-en-esnext
  url = git@github.com:bablr-lang/language-en-esnext.git
  branch = trunk

[submodule "language_enhancer-en-jsx"]
  path = repos/language_enhancer-en-jsx
  url = git@github.com:bablr-lang/language_enhancer-en-jsx.git
  branch = trunk

[submodule "language-en-cstml-json"]
  path = repos/language-en-cstml-json
  url = git@github.com:bablr-lang/language-en-cstml-json.git
  branch = trunk

[submodule "language-en-json"]
  path = repos/language-en-json
  url = git@github.com:bablr-lang/language-en-json.git
  branch = trunk

[submodule "language-en-regex-vm-pattern"]
  path = repos/language-en-regex-vm-pattern
  url = git@github.com:bablr-lang/language-en-regex-vm-pattern.git
  branch = trunk

[submodule "language-en-spamex"]
  path = repos/language-en-spamex
  url = git@github.com:bablr-lang/language-en-spamex.git
  branch = trunk

[submodule "language-en-python"]
  path = repos/language-en-python
  url = git@github.com:bablr-lang/language-en-python.git
  branch = trunk

[submodule "regex-vm"]
  path = repos/regex-vm
  url = git@github.com:bablr-lang/regex-vm.git
  branch = trunk

[submodule "language-en-es3"]
	path = repos/language-en-es3
	url = git@github.com:bablr-lang/language-en-es3.git
	branch = trunk

[submodule "language-en-es5"]
	path = repos/language-en-es5
	url = git@github.com:bablr-lang/language-en-es5.git
	branch = trunk

[submodule "pattern-engine"]
	path = repos/pattern-engine
	url = git@github.com:bablr-lang/pattern-engine.git
	branch = trunk

[submodule "blab"]
	path = repos/blab
	url = git@github.com:bablr-lang/blab.git
	branch = trunk

[submodule "btree"]
	path = repos/btree
	url = git@github.com:bablr-lang/btree.git
	branch = trunk

[submodule "record"]
  path = repos/record
  url =  git@github.com:bablr-lang/record.git
  branch = trunk

[submodule "spamex-vm"]
  path = repos/spamex-vm
  url =  git@github.com:bablr-lang/spamex-vm.git
  branch = trunk

[submodule "starlight"]
  path = repos/starlight
  url =  git@github.com:bablr-lang/starlight.git
  branch = trunk

[submodule "stream-iterator"]
  path = repos/stream-iterator
  url =  git@github.com:bablr-lang/stream-iterator.git
  branch = trunk

[submodule "astro_integration-cstml"]
  path = repos/astro_integration-cstml
  url =  git@github.com:bablr-lang/astro_integration-cstml.git
  branch = trunk

[submodule "vite_plugin-cstml-to-jsx"]
  path = repos/vite_plugin-cstml-to-jsx
  url =  git@github.com:bablr-lang/vite_plugin-cstml-to-jsx.git
  branch = trunk

[submodule "language-en-scheme"]
	path = repos/language-en-scheme
	url = git@github.com:bablr-lang/language-en-scheme.git
	branch = trunk

[submodule "language-en-esnext"]
	path = repos/language-en-esnext
	url = git@github.com:bablr-lang/language-en-esnext
  branch = trunk

[submodule "language-en-es6"]
	path = repos/language-en-es6
	url = git@github.com:bablr-lang/language-en-es6
  branch = trunk
