prefer-workspace-packages=true
save-workspace-protocol=false
link-workspace-packages=true
node-linker=isolated
#hoist=true
#shamefully-hoist=true
#hoist-workspace-packages=true
#hoist-pattern
#public-hoist-pattern=*bablr*

