prefer-workspace-packages=true
save-workspace-protocol=false
link-workspace-packages=true
#hoist=true
#shamefully-hoist=true
#node-linker=hoisted
#hoist-workspace-packages=true
#hoist-pattern
#public-hoist-pattern=*bablr*

